doctype html
html(ng-app='setReviewGrader')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= appName

    for cssFile in cssFiles
      link(rel="stylesheet", href=cssFile)

    // Preloaded Data
    script.
      var preloadedData = !{JSON.stringify(data)};
    for jsFile in jsFiles
      script(src=jsFile)
  body(ng-controller='cardsCtrl')
    .leftContainer
      h1 Magic the Gathering Set Grader
      h2 Currently grading {{ set.name }}
      p Slide the card left or right to set your grade. Click 'Next' or 'Previous' to move between cards.
      .cardSlider
        button(ng-click="nextCard()") Next
        .gradeOptions
          .grade(droppable drop="updateGrade('F')")
            .letter-grade(ng-class="{currentGrade: currentCard.grade === 'F'}") F
          .grade.gradeD(droppable drop="updateGrade('D')")
            .letter-grade(ng-class="{currentGrade: currentCard.grade === 'D'}") D
          .grade.gradeC(droppable drop="updateGrade('C')")
            .letter-grade(ng-class="{currentGrade: currentCard.grade === 'C'}") C
            img(
              ng-src="{{currentCard && 'http://mtgimage.com/multiverseid/' + currentCard.multiverseid + '.jpg' || '' }}"
              id='currentCard'
              draggable
            )

          .grade.gradeB(droppable drop="updateGrade('B')")
            .letter-grade(ng-class="{currentGrade: currentCard.grade === 'B'}") B
          .grade.gradeA(droppable drop="updateGrade('A')")
            .letter-grade(ng-class="{currentGrade: currentCard.grade === 'A'}") A
        button(ng-click="prevCard()") Previous

    .rightContainer
      .setSelector(ng-bind="set.name")
      .currentSetCount(ng-bind="set.cardCount")
      .currentSetPercentageComplete(ng-bind="set.percentGraded()")
      .currentSetFilterOptions
        .colorFilters
          .colorsWhite
          .colorsBlue
          .colorsBlack
          .colorsRed
          .colorsGreen
        .cardList
          .color(
            ng-repeat="color in colors"
            ng-class="{currentColor: color == currentColor}"
          )
            {{color}}
            ul
              li(
                ng-repeat="card in cardsByColor[color]"
                ng-class="{currentCard: currentCard.multiverseid === card.multiverseid}"
                ng-click="setCard(color, card)"
                ng-bind="card.name"
              )

    if preloadHTML
      script(type="text/ng-template" id="#{preloadHTMLPath}")
        != preloadHTML
